@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $body-text-color;
}

div#main-container {
  position: relative;
  min-height: 100%;
  margin: 0 auto;

  @include large {
    width: 60em;
  }

  @include medium {
    width: 95%;
  }

  @include small {
    width: 95%;
  }

  .logo {
    width: 9em;
    height: 9em;
  }

  .project-name {
    color: #333;
    margin: 0;

    @include large {
      font-size: 2em;
    }

    @include medium {
      font-size: 2em;
    }

    @include small {
      font-size: 2em;
    }
  }

  nav.menu ul {
    list-style-type: none;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      padding: 0.5em;
      display: inline-block;

      a {
        text-decoration: none;
        font-size: 0.875em;
        text-transform: uppercase;
        font-weight: bold;
        color: #666;
      }

      a:hover {
        color: #333;
      }

      &.right {
        position: absolute;
        top: 0;
        right: 0;
      }

      &.right a {
        color: $body-link-color;
      }
    }
  }
}

header#main-header {
  color: $header-heading-color;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

section#main-section {
  padding: 2em 1em 4em;
}

footer#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  text-align: center;
  border-top: solid 1px #ccc;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
